.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header,
footer {
  position: fixed;
  color: gray;
  z-index: 1;
}
/******************************************************************
	H E A D E R
******************************************************************/
header {
  top: 0;
}
/******************************************************************
	C A N V A S
******************************************************************/
canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
/******************************************************************
	G E N E R A L
******************************************************************/
body {
  margin: 0;
  font-family: sans-serif;
}
footer {
  bottom: 0;
  width: 100%;
}
footer h2,
footer h4 {
  display: inline-block;
}
footer h4 {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
#info-card {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 400px;
  min-height: 100px;
  z-index: 100;
  background-color: #ffffff;
  font-size: 10px;
  padding: 1em 2em;
  transition: border 400ms ease;
  -webkit-transition: border 400ms ease;
  -moz-transition: border 400ms ease;
  -ms-transition: border 400ms ease;
  -o-transition: border 400ms ease;
  border: 3px transparent solid;
}
#info-card.editing {
  border: 3px #333333 solid;
}
#info-card .close::before,
#info-card .close::after {
  background: #ffffff;
}
#info-card h1 {
  font-family: sans-serif;
  font-size: 2em;
}
#info-card p {
  font-family: serif;
}
#info-card .position {
  float: right;
  width: 160px;
  height: 160px;
  position: relative;
}
#info-card .position b {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 102;
  margin: -5px 0 0 -5px;
}
#info-card .position::before,
#info-card .position::after {
  content: '';
  position: absolute;
  background-color: #b9b9b9;
  width: 2px;
  height: 100%;
  display: block;
  margin: 0 auto 0 -1px;
  left: 80px;
  z-index: 100;
}
#info-card .position::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#info-card .position .probable {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 53.33333333px;
  height: 53.33333333px;
  margin: -26.66666667px auto 0 -26.66666667px;
  top: 80px;
  left: 80px;
  background-color: rgba(25, 41, 62, 0.25);
}
#info-card .position .plausible {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 106.66666667px;
  height: 106.66666667px;
  margin: -53.33333333px auto 0 -53.33333333px;
  top: 80px;
  left: 80px;
  background-color: rgba(25, 41, 62, 0.25);
}
#info-card .position .possible {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 160px;
  height: 160px;
  margin: -80px auto 0 -80px;
  top: 80px;
  left: 80px;
  background-color: rgba(25, 41, 62, 0.25);
}
#info-card button {
  color: inherit;
  position: absolute;
  bottom: 1em;
}
#create-possibility {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.5);
}
#create-possibility section {
  border: none;
  background-color: #19293e;
  position: relative;
  display: block;
  margin: 3em auto 0 auto;
  color: white;
  min-height: 400px;
  height: 0px;
  padding: 3em 4em;
  padding: 0;
  overflow: visible;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  padding: 2em;
  font-family: sans-serif;
}
@media only screen and (min-width : 1024px) {
  #create-possibility section {
    width: 898px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #create-possibility section {
    width: 600px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #create-possibility section {
    width: 450px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #create-possibility section {
    width: 350px;
  }
}
#create-possibility section::before,
#create-possibility section::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
}
#create-possibility section::before {
  height: 100%;
  width: 5px;
  right: -10px;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: 0px;
  border-left: 5px solid #ffffff;
  box-sizing: border-box;
}
#create-possibility section::after {
  height: 5px;
  right: -5px;
  bottom: -10px;
  border: 5px solid transparent;
  border-right: 0px;
  border-top: 5px solid #ffffff;
  box-sizing: border-box;
}
@media only screen and (min-width : 1024px) {
  #create-possibility section::after {
    width: 903px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #create-possibility section::after {
    width: 605px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #create-possibility section::after {
    width: 455px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #create-possibility section::after {
    width: 355px;
  }
}
.active#create-possibility section {
  padding: 3em 4em;
  min-height: 400px;
  height: auto;
  overflow: initial;
}
#create-possibility section h1 {
  text-align: center;
}
#create-possibility section form {
  position: relative;
  width: 60%;
  text-align: right;
  margin: auto;
  font-size: 14px;
  margin-bottom: 1em;
}
#create-possibility section label {
  text-align: left;
  float: left;
  margin-left: 1em;
}
#create-possibility section input,
#create-possibility section select {
  width: 50%;
  display: inline;
  position: relative;
  right: 0;
  background-color: rgba(136, 136, 136, 0.5);
  border: none;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#create-possibility section input[name*="description"],
#create-possibility section select[name*="description"] {
  height: 4em;
}
#create-possibility section input::after,
#create-possibility section select::after {
  content: "";
  display: table;
  clear: both;
}
#create-possibility section button {
  display: block;
  padding: 1em;
  margin-top: 1em;
  margin: 0 auto;
}
#making-story {
  background-color: #19293e;
  margin: 3em auto 0 auto;
  min-height: 400px;
  height: 0px;
  padding: 3em 4em;
  padding: 0;
  overflow: visible;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  margin: 1em auto 0 auto;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  min-height: 100px;
  z-index: 100;
  color: white;
  font-size: 24px;
  text-align: center;
}
@media only screen and (min-width : 1024px) {
  #making-story {
    width: 898px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #making-story {
    width: 600px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #making-story {
    width: 450px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #making-story {
    width: 350px;
  }
}
#making-story::before,
#making-story::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
}
#making-story::before {
  height: 100%;
  width: 5px;
  right: -10px;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: 0px;
  border-left: 5px solid #ffffff;
  box-sizing: border-box;
}
#making-story::after {
  height: 5px;
  right: -5px;
  bottom: -10px;
  border: 5px solid transparent;
  border-right: 0px;
  border-top: 5px solid #ffffff;
  box-sizing: border-box;
}
@media only screen and (min-width : 1024px) {
  #making-story::after {
    width: 903px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #making-story::after {
    width: 605px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #making-story::after {
    width: 455px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #making-story::after {
    width: 355px;
  }
}
.active#making-story {
  padding: 3em 4em;
  min-height: 400px;
  height: auto;
  overflow: initial;
}
#making-story h1 {
  margin: 0;
}
#making-story p {
  margin: 0;
}
#making-story h6 {
  -webkit-animation: pulse 2s infinite alternate ease-in-out;
  -moz-animation: pulse 2s infinite alternate ease-in-out;
  -ms-animation: pulse 2s infinite alternate ease-in-out;
  animation: pulse 2s infinite alternate ease-in-out;
}
#all-stories {
  background-color: #19293e;
  position: relative;
  display: block;
  margin: 3em auto 0 auto;
  color: white;
  min-height: 400px;
  height: 0px;
  padding: 0;
  overflow: visible;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  padding: 3em 4em;
}
@media only screen and (min-width : 1024px) {
  #all-stories {
    width: 898px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #all-stories {
    width: 600px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #all-stories {
    width: 450px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #all-stories {
    width: 350px;
  }
}
#all-stories::before,
#all-stories::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
}
#all-stories::before {
  height: 100%;
  width: 5px;
  right: -10px;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: 0px;
  border-left: 5px solid #ffffff;
  box-sizing: border-box;
}
#all-stories::after {
  height: 5px;
  right: -5px;
  bottom: -10px;
  border: 5px solid transparent;
  border-right: 0px;
  border-top: 5px solid #ffffff;
  box-sizing: border-box;
}
@media only screen and (min-width : 1024px) {
  #all-stories::after {
    width: 903px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #all-stories::after {
    width: 605px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #all-stories::after {
    width: 455px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #all-stories::after {
    width: 355px;
  }
}
.active#all-stories {
  padding: 3em 4em;
  min-height: 400px;
  height: auto;
  overflow: initial;
}
#all-stories span {
  margin-left: 3em;
  background-color: #b9b9b9;
  color: #19293e;
  padding: .5em .9em;
  position: relative;
  display: inline-block;
}
.extruded-box-look {
  background-color: #19293e;
  position: relative;
  display: block;
  margin: 3em auto 0 auto;
  color: white;
  min-height: 400px;
  height: 0px;
  padding: 3em 4em;
  padding: 0;
  overflow: visible;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
}
@media only screen and (min-width : 1024px) {
  .extruded-box-look {
    width: 898px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .extruded-box-look {
    width: 600px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  .extruded-box-look {
    width: 450px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .extruded-box-look {
    width: 350px;
  }
}
.extruded-box-look::before,
.extruded-box-look::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
}
.extruded-box-look::before {
  height: 100%;
  width: 5px;
  right: -10px;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: 0px;
  border-left: 5px solid #ffffff;
  box-sizing: border-box;
}
.extruded-box-look::after {
  height: 5px;
  right: -5px;
  bottom: -10px;
  border: 5px solid transparent;
  border-right: 0px;
  border-top: 5px solid #ffffff;
  box-sizing: border-box;
}
@media only screen and (min-width : 1024px) {
  .extruded-box-look::after {
    width: 903px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .extruded-box-look::after {
    width: 605px;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  .extruded-box-look::after {
    width: 455px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .extruded-box-look::after {
    width: 355px;
  }
}
.active.extruded-box-look {
  padding: 3em 4em;
  min-height: 400px;
  height: auto;
  overflow: initial;
}
.close {
  border: 3px solid #b9b9b9;
  width: 3em;
  height: 2em;
  background-color: transparent;
  position: relative;
  display: inline-block;
  float: right;
  font-family: sans-serif;
}
.close::before {
  content: ' x ';
  display: block;
  color: transparent;
  background-color: #19293e;
  position: relative;
  height: 3em;
  width: 84%;
  margin: 0 auto;
  top: -0.5em;
  font-weight: 900;
}
.close::after {
  content: 'X';
  display: block;
  position: relative;
  color: #b9b9b9;
  top: -2.58em;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
button {
  background: transparent;
  border: 1px #b9b9b9 solid;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@keyframes pulse-frame {
  from {
    border: 1px;
  }
  to {
    border: 3px;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
